#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  text-align: center;
  font-size: 1.25rem;
  transition: padding-top 0.8s ease;
}

.main-container.without-elements {
  padding-top: 43vh;
}

.main-container.with-elements {
  padding-top: 0;
}